<div class="jumbotron col-md-12">
	<div class="container">
		<h1>Hey, it's me!</h1>
	</div>
</div>

<div class="container">
	<div class="col-md-3">
		<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/jdx1m5laarn074l/LC2.png" alt="Immagine">
	</div>
	<div class="col-md-9">
		<h2>Lorenzo C.</h2>
		<p>Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor. Etiam at condimentum nisl, vitae sagittis orci. Donec id dignissim nunc. Donec elit ante, eleifend a dolor et, venenatis facilisis dolor. In feugiat orci odio, sed lacinia sem elementum quis. Aliquam consectetur, eros et vulputate euismod, nunc leo tempor lacus, ac rhoncus neque eros nec lacus. Cras lobortis molestie faucibus.</p>
	</div>
	
</div>