<div class="jumbotron col-md-12">
	<div class="container">
		<h1>My portfolio!</h1>
	</div>
</div>

<div class="container">
	<div class="col-md-4">
		<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/lilo1x8x9in5zlo/Screenshot%202018-04-19%2016.34.46.png" alt="Immagine">
		<p>Lorem ipsulm dolor sit amet, consectuetur adiscipit.</p>
	</div>
	<div class="col-md-4">
		<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/nnbloe943ft3ap0/Screenshot%202018-04-19%2012.09.33.png" alt="Immagine">
		<p>Lorem ipsulm dolor sit amet, consectuetur adiscipit.</p>
	</div>
	<div class="col-md-4">
		<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/zne4vv75doqgy5n/Screenshot%202018-04-17%2014.00.23.png" alt="Immagine">
		<p>Lorem ipsulm dolor sit amet, consectuetur adiscipit.</p>
	</div>
	<div class="col-md-4">
		<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/maz3d6axymqfjru/Screenshot%202018-04-13%2018.51.12.png" alt="Immagine">
		<p>Lorem ipsulm dolor sit amet, consectuetur adiscipit.</p>
	</div>
	<div class="col-md-4">
		<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/5a3e0jusoen6u5e/Screenshot%202018-04-12%2010.09.35.png" alt="Immagine">
		<p>Lorem ipsulm dolor sit amet, consectuetur adiscipit.</p>
	</div>
	<div class="col-md-4">
		<img class="img-responsive" src="https://dl.dropboxusercontent.com/s/rzu935f538iv1nz/Screenshot%202018-03-22%2014.16.55.png" alt="Immagine">
		<p>Lorem ipsulm dolor sit amet, consectuetur adiscipit.</p>
	</div>
</div>