
<div class="jumbotron col-md-12">
	<div class="container">
		<h1>Tutto quello che avreste voluto sapere ma non avete mai osato chiedere!</h1>
		<a href="#" class="btn btn-primary">Show more</a>
	</div>
</div>

<% yield %>

<footer>
	<div class="container">
		<div class="col-md-12">
			<h2>Very reserved info...</h2>
			<p>Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus tortor. Etiam at condimentum nisl, vitae sagittis orci. Donec id dignissim nunc. Donec elit ante, eleifend a dolor et, venenatis facilisis dolor. In feugiat orci odio, sed lacinia sem elementum quis. Aliquam consectetur, eros et vulputate euismod, nunc leo tempor lacus, ac rhoncus neque eros nec lacus. Cras lobortis molestie faucibus.</p>
		</div>
	</div>
</footer>